{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Foydalanuvchi malumotlarini o'zgartirish{% endblock title %}
{% block content %}

    <h1 style="font-family: Tahoma, sans-serif; text-align: center; color: red; margin-top: 20px; margin-bottom: 20px;">Foydalanuvchi malumotlarini o'zgartirish</h1>
    <p style="font-family: Tahoma, sans-serif; font-size: 18px;">Siz o'zingiz haqizdagi malumotlaringizni o'zgartirishingiz mumkin</p>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{user_form|crispy}}
        {{profile_form|crispy}}
        <button class="btn btn-primary" type="submit">O'zgarishlarni saqlash</button>
    </form>

{% endblock content %}