{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Parolni tiklash{% endblock title %}
{% block content %}

    <h1 style="font-family: Tahoma, sans-serif; text-align: center; color: red; margin-top: 20px; margin-bottom: 20px;">Parolni tiklash</h1>
    <p style="font-family: Tahoma, sans-serif; font-size: 18px;">Parolingizni tiklash uchun e-mail manzilingizni kiriting:</p>
    <form method="post">{% csrf_token %}
        {{form|crispy}}
        <button style="margin-bottom: 20px;" type="submit" class="btn btn-primary">Yuborish</button>
    </form>

{% endblock content %}