{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Parolni o'zgartirish{% endblock title %}
{% block content %}

    <h1 style="font-family: Tahoma, sans-serif; text-align: center; color: red; margin-top: 20px; margin-bottom: 20px;">Parolni tiklash</h1>
    <p style="font-family: Tahoma, sans-serif; font-size: 18px;">parolni o'zgartirish uchun quyidagi formani to'ldiring</p>
    {% if validlink %}
        <p style="font-family: Tahoma, sans-serif; font-size: 18px;">Iltimos yangi parolni ikki marotaba kiriting</p>
        <form method="post">{% csrf_token %}
            {{form|crispy}}
            <button style="margin-bottom: 20px;" class="btn btn-primary" type="submit">Almashtirish</button>
        </form>
    {% else %}
        <p>siz noto'g'ri linkdan foydalandizgiz )</p>
    {% endif %}
{% endblock content %}