{% extends 'news/base.html' %}
{% block title %}Parolni o'zgartirish{% endblock title %}
{% block content %}

    <h1 style="font-family: Tahoma, sans-serif; text-align: center; color: red; margin-top: 20px; margin-bottom: 20px;">Parolni o'zgartirish uchun Email yuborildi</h1>
    <p style="font-family: Tahoma, sans-serif; font-size: 18px;">parolni o'zgartirish uchun sizning emailingizga link yuborildi</p>
    <p style="font-family: Tahoma, sans-serif; font-size: 18px;">Agar siz email qabul qilmagan bo'lsangiz qaytadan urinib ko'ring</p>

{% endblock content %}