{% extends 'news/base.html' %}
{% block title %}Parolni o'zgartirildi{% endblock title %}
{% block content %}

    <h1 style="font-family: Tahoma, sans-serif; text-align: center; color: red; margin-top: 20px; margin-bottom: 20px;">Foydalanuvchi paroli o'zgardi</h1>
    <p style="font-family: Tahoma, sans-serif; font-size: 18px; margin-bottom: 20px;"><i>{{request.user.username}},</i> Sizning parolingiz muvaffaqiyatli o'zgardi. <a style="color: red; font-size: 20px;" href="{% url 'login' %}">Login</a></p>
    

{% endblock content %}