{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Parolni o'zgartirish{% endblock title %}
{% block content %}

    <h1 style="font-family: Tahoma, sans-serif; text-align: center; color: red; margin-top: 20px; margin-bottom: 20px;">Parolni o'zgartirish</h1>
    <p style="font-family: Tahoma, sans-serif; font-size: 18px;">parolni o'zgartirish uchun quyidagi formani to'ldiring</p>
    <form method="post">{% csrf_token %}
        {{form|crispy}}
        <button style="margin-bottom: 20px;" type="submit" class="btn btn-primary">Parolni almashtirish</button>
    </form>

{% endblock content %}