{% extends 'news/base.html' %}
{% load static %}
{% block title %}Foydalanuvchi profile{% endblock title %}
{% block content %}

    <h1 style="font-family: Tahoma, sans-serif; text-align: center; margin-top: 20px; margin-bottom: 40px;">Xush kelibsiz, <i style="color: red;">{{user.username}}</i></h1>
<div style="text-align: center;">
    <h2 style="font-family: Tahoma, sans-serif; margin-bottom: 30px;">Siz haqingizdagi malumotlar</h2>
    <img src="{{profile.image.url}}" alt="{{profile.user}}" width="50%"><br>
    <h4 style="font-family: Tahoma, sans-serif;">Tug'ulgan sanangiz: {{profile.date_of_birth}}</h4>
    <label >Username:</label><input value="{{user.username}}" readonly placeholder="kiritilmagan"><br>
    <label>Emailingiz:</label><input value="{{user.email}}" readonly placeholder="kiritilmagan"><br>
    <label>Ismingiz:</label><input value="{{user.first_name}}" readonly placeholder="kiritilmagan"><br>
    <label>Familiyangiz:</label><input value="{{user.last_name}}" readonly placeholder="kiritilmagan"><br>
    <h4 style="font-family: Tahoma, sans-serif;"><a href="{% url 'password_change' %}" style="color: red;">Parolni almashtirish</a> |
    <a href="{% url "profile_edit" %}" style="color: red;">Edit Profile</a></h4>
</div>
{% endblock content %}