{% extends 'news/base.html' %}
{% load hitcount_tags %}
{% load crispy_forms_tags %}
{% block title %}{{news_detail.title}}{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">          
            <div class="col-sm-8">
                <h1 style="font-family: Tahoma, sans-serif; margin-bottom: 30px; margin-top: 30px; text-align: center;">{{news_detail.title}}</h1>
                <i style="font-size: 16px; color: red; ">{{news_detail.publish_time}}  |  <i class="fa fa-eye" aria-hidden="true"></i>
 {% get_hit_count for news_detail %}    |    Izohlar soni: {{comment_count}}</i>
                <img src="{{news_detail.image.url}}" alt="{{news_detail.title}}" style="width:120%; margin-top: 10px;">    
                <h4 style="font-family: Tahoma, sans-serif;">{{news_detail.body}}</h4>   
                
            </div>               
        </div>
    </div>
    
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <div class="card-body" style="font-size: 18px; margin-left: 15px; margin-top: 10px;">
        <a style="color: blue;" href="{% url 'news_edit' news_detail.slug %}">Tahrirlash</a> |
        <a style="color: blue;" href="{% url 'news_delete' news_detail.slug %}">O'chirish</a>
        
    </div>
    {% endif %} 
    <br>
    
{% if comments %}   
    <div style="padding-top: 8px; padding-bottom: 8px; background-color:  #e5e7e9 ; ">
        <i style="font-size: 20px; margin-left: 20px; margin-top: 8px;">I z o h l a r</i>
    </div>
{% endif %}
    {% for comment in comments %}
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ comment.body }}</p>
                <footer class="blockquote-footer">{{ comment.user }}</footer>
                <span class="text-muted font-weight-normal" style="font-size: 13px;">
                    {{comment.created_time}}                    
                </span>
            </blockquote>
        </div>
    {% endfor %}
    
    {% if user.is_authenticated %}
    <div class="col-md-8 card mb-4 mt-3">
        <div class="card-body">
            <h3 style="font-family: Tahoma, sans-serif;">Izoh qoldiring</h3>
            <form method="POST" style="margin-top: 1.3em">{% csrf_token %}
                {{comment_form|crispy}}
                <button type="submit" class="btn btn-primary btn-lg">Jo'natish</button>
            </form> 
        </div>
    </div>
    {% else %}
    <div class="card-body">
        <p class="text-danger" style="font-size: 18px;">Faqatgina ro'yxatdan o'tgan foydalanuvchilar izoh qoldirishi mumkin</p>
        <p>Izoh qoldirish uchun <a href="{% url 'signup' %}" style="color: red; font-size: 17px;">ro'yxatdan o'ting</a> yoki <a href="{% url 'login' %}" style="color: red; font-size: 17px;">Saytga kiring</a></p>
    </div>
    
    {% endif %}
    

    
{% endblock content %}